body{
  height: 100%;
  background-color: black;
}

body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }


.head{
  margin-bottom: 10vh;
}